<h2>Formulaire d'inscription</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col">
    <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()" class="form-control">
        <label>
            Nom 
            <input type="text" formControlName="nom" class="form-control" />
        </label>
        <br>
        <label>
            Prénom 
            <input type="text" formControlName="prenom"class="form-control" />
        </label>
        <br>
        <label>
            Email  
            <input type="email" formControlName="mail"class="form-control" />
        </label>
        <br>
        <label>
            Téléphone  
            <input type="text" formControlName="telephone" class="form-control" /> 
        </label>
        <br>
        <label>
            Adresse  
            <input type="text" formControlName="adresse" class="form-control" />
        </label>
        <br>
        <label>
            Formation souhaitée :
            <select class="form-control" (change)="handleChange($event)" >
                <option value ="">Formations...</option>
                <option *ngFor="let formation of formations">{{formation.libelle}}</option>
            </select>
        </label>    
        <br>
        <label>
            Date de naissance 
            <input type = "date" formControlName="ddn" class = "form-control" />
        </label>
        <br><br>
        <button type="submit" class="btn btn-primary" >Enregister</button>  <!--[disabled]="!userForm.valid"-->
    </form>
    </div>
 </div> 
</div>
