<h3>Ajouter une formation</h3>
<form (submit)="handleSubmit()" #f="ngForm" class="form-inline m-auto">
    <div class="form-group">
      <label for="libelle">Libellé</label>
      <input 
        [(ngModel)]="formation.libelle"
        required
        minlength="4"
        placeholder="Nom de la formation"
        name="libelle" 
        type="text" 
        class="form-control" />
    </div>
    <button 
      [disabled]="f.invalid"
      class="btn btn-primary btn-sm">Valider</button>
  </form>
  
<div 
  *ngIf="message" 
  class="alert alert-danger text-center" 
  role="alert"> 
  {{ message }}
</div>