
<formation-form (postEvent)="updateList()"></formation-form>


<table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Libellé</th>
        <th style="text-align:center">Gestion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let formation of formations">
        <td>{{ formation.libelle }}</td>
        <td style="text-align: center;">
          <button 
            (click)="onDelete(formation.libelle)"
            class="btn btn-sm btn-danger">Supprimer</button>
        </td>
      </tr>
    </tbody>
  
  </table>
  