  <h1>Connexion</h1>
  <div class="container-fluid">
   
    <strong>Identifiant</strong> <input type ="text" [(ngModel)]='identifiant' name="id" class="form-control" />
    <strong>Mot de passe</strong> <input type ="password" [(ngModel)]='password'  name="mdp" class="form-control"/>
    <br>
    <button class="btn btn-primary" (click)="login()">S'authentifier</button>    

    <a class="nav-link" [routerLink]="['inscription']" class="btn btn-outline-success" aria-current="page">S'inscrire</a>
  </div>
    
  <div 
  *ngIf="message" 
  class="alert alert-danger text-center" 
  role="alert"> 
  {{ message }}
</div>
  
