<h3>Ajouter un module</h3>
<form (submit)="handleSubmit()" #f="ngForm" class="form-inline m-auto">
    <div class="form-group">
      <label for="libelle">Libellé</label>
      <input 
        [(ngModel)]="module.libelle"
        required
        minlength="4"
        placeholder="Nom de module"
        name="libelle" 
        type="text" 
        class="form-control" />

        <select (change)="handleChangeFiliere($event)">
          <option value=""></option>
        <option *ngFor="let filiere of filieres" >
            {{ filiere.id }}
        </option>
    </select>
    <select (change)="handleChangeFormateur($event)">
      <option value=""></option>
        <option *ngFor="let formateur of formateurs" value="{{ formateur.id }}">
            {{ formateur.nom }}
            {{ formateur.prenom}}
        </option>
    </select>
    <div class="form-group ">
        <label for="dateDebut">Date de début</label>
        <input 
          [(ngModel)]="module.dateDebut"
          type="date" 
          name="dateDebut"
          class="form-control" />
      </div>
      <div class="form-group ">
        <label for="dateDebut">Date de fin</label>
        <input 
          [(ngModel)]="module.dateFin"
          type="date" 
          name="dateFin"
          class="form-control" />
      </div>

    </div>
    <button 
      [disabled]="f.invalid"
      class="btn btn-primary btn-sm">Valider</button>
  </form>
  
<!--<div 
  *ngIf="message" 
  class="alert alert-danger text-center" 
  role="alert"> 
  {{ message }}
</div>-->
