<h2>Liste des Nouveaux Inscrits</h2>

<table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date d'inscription</th>
        <th>Formation souhaitée</th>
        <th>Filières</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let personne of personnes ">
        <td>{{personne.nom}}</td>
        <td>{{personne.prenom}}</td>
        <td>{{personne.dateInscription}}</td>
        <td>{{personne.formationSouhaitee}}</td>
        <td>
          <select (change)="handleChange($event)" >
            <option>Filiere</option>
            <option  *ngFor="let filiere of filieres" >{{filiere.id}}</option>
          </select>
          <button (click)="handleClick(personne)" class = "btn btn-sm btn-primary">Ajouter</button>
        </td>
      </tr>
     
    </tbody>
  
  </table>
  <!--

     <td>
          <button 
           
            class="btn btn-sm btn-primary m-1">Voir</button>
          <button 
           
            class="btn btn-sm btn-primary m-1">Modifier</button>
          <button 
            
            class="btn btn-sm btn-danger">Supprimer</button>
      </td>

  -->
 
