.navigation{
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: auto;
	top: 0;
	background-color: #202124;
	color: #202124;
	border-bottom: 1px solid #202124;
	-webkit-box-shadow: 0 0.5px 1px rgba(0,0,0,0.25);
	box-shadow: 0 0.5px 1px rgba(0,0,0,0.25);
}

img{
	max-width: 70px;
	margin-left: 3em;
}

li > a:focus{
	color: #f9f9f9;
}

li > a:hover{
	color: #f9f9f9;
	background: rgba(128, 128, 128, 0.3);
	border-radius: 6.4px;
}

li > a{
	display: flex;
	margin: auto;
	flex-direction: column;
	justify-content: center;
	color: #f9f9f9;
	padding: 7.5px 16px !important;
	margin-right:5px;
}

.navcontent-right{
	display: flex !important;
	float: right;
}