<nav class="navbar navbar-expand-md navigation">
  <div class="container-fluid">
    <!-- Logo root vers la connexion si le visiteur n'est pas connecte -->
    <a *ngIf="type===null" [routerLink]="['/']">
      <img
        src="../../assets/logo/stagformation_logotext.png"
        alt="cerf stag formation logo"
      />
    </a>

    <a *ngIf="type!==null">
      <img
        src="../../assets/logo/stagformation_logotext.png"
        alt="cerf stag formation logo"
      />
    </a>
    <!-- Fin logo -->

    <div class="navbar-collapse collapse" id="collapseNavbar">
      <ul class="navbar-nav">

        <li class="nav-item active" *ngIf="type ==null">
          <a class="nav-link" [routerLink]="['/inscription']">Inscription</a>
        </li>

        <li class="nav-item" *ngIf="type =='FORMATEUR'|| type == 'GESTIONNAIRE'">
          <a class="nav-link" [routerLink]="['/filieres']">Filières</a>
        </li>

        <li class="nav-item" *ngIf="type =='STAGIAIRE' || type == 'FORMATEUR' || type == 'GESTIONNAIRE' ">
          <a class="nav-link" [routerLink]="['/modules']">Modules</a>
        </li>

        <li class="nav-item" *ngIf="type == 'GESTIONNAIRE'">
          <a class="nav-link" [routerLink]="['pageGestion']">Gestion des Formations</a> 
        </li>

      </ul>

      <ul class="navbar-nav ms-auto" style="margin-right: 3em;" *ngIf="type !=null">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/mon-compte']">Gestion de Compte</a>
        </li>
        <li>        
          <button
            class="btn btn-outline-danger"
            (click)="logout()"
          >Se déconnecter</button>
        </li>
      </ul>
    </div>
  </div>
</nav>






