svg {
    color: #e41937;
}

span {
    color: white;
}

.navbar-absolute-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#block-footermain{
    color:white;
    background-color:#202124;
}

.social-networks{
    padding-top: 1em;
    display:flex;
    align-items: center;
    justify-content: center;
}
.social-networks svg{
    margin : 1em;
}
.social-networks img{
    margin : 1em;
    border-radius: 90%;
}

.contact {
    text-align:center;
    padding-bottom: 1.5em;
}