<div *ngIf="utilisateur !== null">
    <div class ="shadow p">
        <h3>Informations pratiques</h3>
        <div *ngIf="type === 'NOUVEL_INSCRIT'" style="white-space:pre-line;">
            Vous n'avez pas encore été placé dans une filière.
            <br>
            <p><span>Formation souhaitée : </span>{{utilisateur.formationSouhaitee}}</p>
        </div> 
        <p><span>Date d'inscription : </span>{{utilisateur.dateInscription}}</p>
        
        
    </div>
    
        
    <div class = "shadow p">
        <h3>Informations personnelles</h3>
        <p><span>Nom : </span>{{utilisateur.nom |uppercase}}</p>
        <p><span>Prenom : </span>{{utilisateur.prenom}}</p>
        <p><span>Mail : </span>{{utilisateur.mail}}</p>
        <p><span>Telephone : </span>{{utilisateur.telephone}}</p>
        <p><span>Date de naissance : </span>{{utilisateur.dateNaissance}}</p>
        <p><span>Adresse : </span>{{utilisateur.adresse}}</p>
    </div>
    

    <div class ="shadow p">
        <h3>Modifier le mot de passe</h3>
    <form
        [formGroup]="passwordForm"
        (ngSubmit)="submit()"
    >
        <label>
            <strong>Mot de passe actuel :</strong> 
            <input type="password" formControlName="oldPasswordInput" class="form-control">
        </label>
        <br>
        <label>
            <strong>Mot de passe :</strong> 
            <input type="password" formControlName="newPasswordInput" class="form-control">
        </label>
        <br>
        <button
            type="submit"
            class="btn btn-danger btn-sm"
            [disabled]="passwordForm.invalid"
        >Changer de mot de passe</button>
    </form>
    </div>
    
</div>