<div class="container">  
<ul class="nav nav-tabs">  
    <li class="active"><a class="nav-link" (click)="navigate($event)" name="formations">Formations</a></li>  
    <li><a class="nav-link" (click)="navigate($event)" name="filieres">Filieres</a></li>  
    <li><a class="nav-link" (click)="navigate($event)" name="modules">Modules</a></li>   
    <li><a class="nav-link" (click)="navigate($event)" name="stagiaires">Nouveaux Utilisateurs</a></li>  
</ul>  
<br>  
    
</div>  

<router-outlet name='gestion'></router-outlet>
