<h3>
  Filières ({{selectedFilieres.length}} / {{ filieres.length }})
</h3>

<!-- Filtres -->
<form *ngIf="type === 'GESTIONNAIRE' || type ==='FORMATEUR'">
  <!-- Filtre les filieres en recherchant un libelle -->
  <input type="text"
    name="libelle-textinput"
    (keyup)="onWriting()"
    [(ngModel)]="filtreLibelle"
    class="form-control"
    placeholder="Rechercher un libellé"
  />
  <!-- Filtre les filieres inactives -->
  <!-- <div>
    <label>Afficher uniquement les filières actives</label>
    <input type="checkbox"
      name="filiere-active-checkbox"
      (click)="onCheck()"
      [checked]="filtreFilieresActives"
    />
  </div> -->
  <!-- Filtre les filieres en selectionnant un formateur -->
  <!-- <select
    *ngIf="type !== 'FORMATEUR'"
    name="formateur-selector"
    (change)="onSelect()"
    [(ngModel)]="filtreFormateur"
  >
    <option value="null">Sélectionner un formateur</option>
    <option *ngFor="let formateur of formateurs">{{formateur.prenom}} {{formateur.nom}}</option>
  </select> -->
</form>
<!-- Fin filtres -->

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Libellé</th>
      <th>Nb de modules</th>
      <th>Nb Personnes dans la filière</th>
      <!-- <th>Date Début</th>
      <th>Date Fin</th> -->
      <th
        style="text-align:center" 
        *ngIf="type === 'GESTIONNAIRE'"
      >Gestion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let filiere of selectedFilieres">
      <td>{{ filiere.id}}</td>
      <td>{{ filiere.modules?.length }}</td>
      <td>{{filiere.stagiaires?.length}}</td>
      <!-- <td></td> Date début == date début du premier module -->
      <!-- <td></td> Date fin == date fin du dernier module -->
      <td
        style="text-align:center" 
        *ngIf="type === 'GESTIONNAIRE'"
      >
        <button 
          (click)="onDelete(filiere.id)"
          class="btn btn-sm btn-danger">Supprimer</button>
      </td>
    </tr>
  </tbody>

</table>

<div 
  *ngIf="message" 
  class="alert alert-danger text-center" 
  role="alert"> 
  {{ message }}
</div>

