<h3>
  Modules ({{ selectedModules.length }} / {{modules.length}})
</h3>

<!-- Filtres -->
<select
  *ngIf="type !== 'STAGIAIRE'"
  (change)="onSelect()"
  [(ngModel)]="filtreFiliere"
  class="form-select"
>
  <option value="">Sélectionner une filière</option>
  <option *ngFor="let filiere of filieres">
    {{filiere.id}}
  </option>
</select>

<input
  type="text"
  (keyup)="onWriting()"
  [(ngModel)]="filtreLibelle"
  class="form-control"
  placeholder="Rechercher un libellé"/>
<!-- Fin filtres -->

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Libellé</th>
      <th *ngIf="type !== 'STAGIAIRE'">Filière</th>
      <th>Date de début</th>
      <th>Date de fin</th>
      <th>Formateur</th>
      <th
        *ngIf="type === 'GESTIONNAIRE'"
        style="text-align:center"
      >Gestion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let module of selectedModules">
      <td>{{ module.libelle }}</td>
      <td *ngIf="type !== 'STAGIAIRE'">
        <a [routerLink]="['/filieres', module.filiere?.id]">
          {{ module.filiere?.id }}
        </a>
      </td>
      <td>
        {{module.dateDebut}}
      </td>
      <td>
        {{module.dateFin}}
      </td>
      <!-- Infos formateur ou vide-->
      <td *ngIf="module.formateur !== null && module.formateur !== undefined">
        {{module.formateur.prenom}} {{module.formateur.nom}}
      </td>
      <td *ngIf="module.formateur === null || module.formateur === undefined">
        
      </td>
      <!-- -->

      <td
        style="text-align:center" 
        *ngIf="type === 'GESTIONNAIRE'"
      > 
        <!-- <button
          (click)="onEdit(module.id)"
          class="btn btn-primary btn-sm m-1">Modifier</button> -->
        <button 
          (click)="onDelete(module.id)"
          class="btn btn-danger btn-sm">Supprimer</button>
      </td>
      <!--
      <td style="text-align:center">
        <button
          (click)="onView(module.id)"
          class="btn btn-primary btn-sm m-1">Voir</button>
        <button 
          *ngIf="type === 'GESTIONNAIRE'"
          (click)="onEdit(module.id)"
          class="btn btn-primary btn-sm m-1">Modifier</button>
        <button 
          *ngIf="type === 'GESTIONNAIRE'"
          (click)="onDelete(module.id)"
          class="btn btn-danger btn-sm">Supprimer</button>
      </td>
      -->
    </tr>
  </tbody>
</table>
