<h3>Ajouter une filière</h3>
<form (submit)="handleSubmit()" #f="ngForm" class="form-inline m-auto">
  
    Liste des formations :
    <select (change)="handleChange($event)">
        <option value="">...</option>
        <option *ngFor="let formation of formations">{{formation.libelle}}</option>
    </select>
    
    Selectionnez les stagiaires à ajouter à la filière :
<table *ngIf="filiere.formation != ''" class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Stagiaire</th>
        <th>Date Inscription</th>
        <th>Ajouter</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let personne of personnes ">
        <td>{{personne.nom | uppercase }} {{personne.prenom}}</td>
        <td>{{personne.dateInscription}}</td>
        <td>
            <input (click)="handleChecked(personne.id, $event)" type="checkbox" > <!--à regler quand on déclick-->
        </td>
      </tr>
    </tbody>
 </table>


    <div>
       <button 
    [disabled]="f.invalid"
    class="btn btn-primary btn-sm">Valider</button>  
    </div>
   
</form>
