<div class="container-fluid">
<p>Bienvenue {{prenom}}  {{nom | uppercase}} ! </p>
<p>identifiant : <strong>{{id}}</strong> <br> mdp provisoire : <strong>{{mdp}}</strong> </p>


<button class="btn btn-primary" [routerLink]="['']">
    Vers l'Authentification
</button>
</div>